* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  background-color: white;
  height: 100vh;
  place-items: flex-start;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-content {
  margin-top: 10vh;
  padding: 10vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}

.grid-item {
  width: 20vw;
  height: 30vh;
  background-color: #f0f0f0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
}
